.statistics {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.statistics-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.statistics-title {
  color: var(--color-white);
}

.statistics-photo {
  border-radius: 15px;
  margin-bottom: 25px;
}

.stat-box-container {
  border-radius: 20px;
  background-color: rgba(83, 141, 78, 0.85);
  display: flex;
  justify-content: center;
  margin: 0 40px;
}

.statistics-charts-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
