.statistics {
  align-items: center;
  background-color: #1a1a1b;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.statistics-title {
  color: white;
}

.stat-box-container {
  border-radius: 20px;
  background-color: rgba(83, 141, 78, 0.85);
  display: flex;
  justify-content: center;
  margin: 0 40px;
}

.statistics-round-container {
  margin: 40px;
  width: 35%;
}

.statistics-round-attempts-title {
  color: white;
}

.statistics-round-attempts {
  align-items: center;
  color: white;
  display: flex;
  padding: 3px;
}

.statistics-round {
  font-size: 24px;
  padding: 5px 15px;
  width: 20px;
}

.statistics-round-value {
  background-color: #538d4e;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  margin-left: 15px;
  padding: 5px 10px;
  text-align: right;
}
