.statistics {
  background-color: #1a1a1b;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.statistics-title {
  color: white;
}

.stat-box-container {
  border-radius: 20px;
  background-color: rgba(83, 141, 78, 0.85);
  display: flex;
  justify-content: center;
  margin: 0 40px;
}
