.error-boundary-container {
    align-items: center;
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 30px;
    width: 100vh;
}

.error-boundary-message {
    background-color: var(--color-light-grey);
    border-radius: 10px;
    color: var(--color-red);
    padding: 10px
}

.error-buttons-container {
    align-items: center;
    display: flex;
    padding: 0 30px;
}

.try-again-button {
    padding-right: 30px;
}
