.keyboard-letter {
  border-radius: 5px;
  border-width: 0px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.keyboard-letter.isSmall {
  height: 40px;
  width: 40px;
}

.keyboard-letter.disabled {
  cursor: default;
}

.keyboard-letter:focus {
  outline: 2px solid var(--color-white);
}
