.list-row-container {
  align-items: center;
  background-color: rgba(83, 141, 78, 0.5);
  border-color: rgba(83, 141, 78, 0.5);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 800;
  margin: 15px 0;
  padding: 10px 0;
  width: 100%;
}

.list-row-container.isEnabled:hover {
  opacity: 0.7;
}

.list-row-container.isCurrentUser {
  background-color: rgb(83, 141, 78);
  border-color: rgb(83, 141, 78);
}

.list-row-container.lost {
  background-color: rgba(210, 62, 62, 0.5);
  border-color: rgba(210, 62, 62, 0.5);
}

.list-row-container.isCurrentUser.lost {
  background-color: rgb(210, 62, 62);
  border-color: rgb(210, 62, 62);
}

.list-row-container.isDisabled {
  cursor: default;
}

.list-row-left-text {
  flex: 0.15;
  font-size: 24px;
  margin: 0;
}

.list-row-user {
  align-items: center;
  display: flex;
  flex: 0.7;
}

.list-row-photo {
  border-radius: 50px;
  margin: 0 20px;
  height: 40px;
  width: 40px;
}

.list-row-name {
  font-size: 20px;
}

.list-row-right-text {
  flex: 0.1;
  font-size: 18px;
  padding-right: 7px;
}

.list-row-icon {
  display: flex;
}
