.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  transition: width 0.3s ease-in-out;
  background-color: var(--color-green);
  padding: 28px 0 18px;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px,
    rgb(15 15 15 / 20%) 0px 9px 24px;
}

.sidenav.closed {
  width: var(--closed-side-menu);
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
}

.sideitem.isActive {
  background-color: var(--color-background);
}

.sidenav-link-text {
  padding-left: 16px;
}

.sideitem:hover {
  background-color: var(--color-background);
}

.sideitem:focus {
  outline: 2px solid var(--color-white);
}

.menuBtn {
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-transparent);
  border: none;
  cursor: pointer;
  display: flex;
  min-height: 44px;
  padding-left: 20px;
  width: 100%;
}

.menuBtn:focus {
  outline: 2px solid var(--color-white);
}
