.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  transition: width 0.3s ease-in-out;
  background-color: var(--color-green);
  padding: 28px 0 18px;
}

.sidenav.closed {
  width: 60px;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
}

.sidenav-link-text {
  padding-left: 16px;
}

.sidenav-link-text.closed {
  visibility: hidden;
}

.sideitem:hover {
  background-color: var(--color-background);
}

.selected-item {
  background-color: var(--color-background);
}

.menuBtn {
  color: var(--color-white);
  background-color: var(--color-transparent);
  border: none;
  cursor: pointer;
  padding-left: 20px;
}
