.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  background-color: #538d4e;
  padding-top: 28px;
}

.sidenav.closed {
  width: 60px;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sidenav-link-text {
  padding-left: 16px;
}

.sidenav-link-text.closed {
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;
}

.menuBtn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}
