:root {
  --color-background: #1a1a1b;
  --color-black: #1f1f1f;
  --color-light-black: #303030;
  --color-light-grey: #d3d3d3;
  --color-hunter-green: #3a693e;
  --color-very-dark-green: rgba(48, 96, 44, 0.75);
  --color-dark-green: rgba(83, 141, 78, 0.85);
  --color-medium-green: rgba(83, 141, 78, 0.5);
  --color-green: #538d4e;
  --color-yellow: #eec824;
  --color-white: #fff;
  --color-medium-red: rgba(210, 62, 62, 0.5);
  --color-red: #d23e3e;
  --color-light-blue: #278ed3;
  --color-transparent: transparent;
  --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

  --font-size: 14px;
  --font-size-error: 11px;
  --font-size-button: 18px;
}
