.home-container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  row-gap: 30px;
  margin-top: 15px;
}

.word-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.word {
  display: flex;
  justify-content: center;
}

.error-message {
  color: var(--color-red);
  text-align: center;
}

.game-status {
  align-self: center;
  color: var(--color-white);
  font-weight: 800;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.word-input-label {
  font-size: 22px;
  font-weight: 600;
  padding-right: 25px;
}

.play-button-container {
  align-items: center;
  display: flex;
  align-self: center;
  column-gap: 2em;
}
