.word-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85vh;
  margin-top: 40px;
}

.word {
  display: flex;
  justify-content: center;
}

.error-message {
  color: red;
}

.game-status {
  color: white;
  font-weight: 800;
}
