.word-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85vh;
}

.word {
  display: flex;
  justify-content: center;
}

.error-message {
  color: red;
}
