.ranking {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ranking-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.daily-data-word {
  border-radius: 10px;
  height: 18px;
  margin: 5px;
  padding: 5px 10px;
  width: 12px;
}

.daily-data-word-container {
  display: flex;
  justify-content: center;
}
