.invalid-user {
  background-color: var(--color-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.invalid-user-message-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.invalid-user-message {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
}
