.users-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.users-filters-container {
  align-items: center;
  display: flex;
  flex: 0 1;
  padding-bottom: 20px;
  width: 80%;
}

.users-filter-label {
  font-size: 22px;
  font-weight: 600;
  padding-right: 25px;
}

.users-list-container {
  width: 80%;
}
